.page-title {
    text-align: center;
    margin-top: 50px;
    color: #ff4d4d;
}
.list-group {
    width: 40%;
    left: 0;
    right: 0;
    margin: 60px auto 0 auto;
}
.small-image {
    width: 16%;
    display: block;
    margin-left: 75px;
}
.small-image img{
    width: 100px;
    height: 100px;
}
.clearfix {
    display: flex;
    left: 0;
    right: 0;
    margin: 20px auto;
}
.img-thumbnail {
    height: 400px;
    width: 468px;
    margin-left: 110px
}
.pull-right {
    float: right;
}