.page-title {
    text-align: center;
    margin-top: 50px;
    color: #ff4d4d;
}
.list-group {
    width: 40%;
    left: 0;
    right: 0;
    margin: 60px auto 0 auto;
}
.small-image {
    width: 16%;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
}
.small-image img{
    width: 100px;
    height: 100px;
}
.clearfix {
    display: flex;
    left: 0;
    right: 0;
    margin: 20px auto;
}
.img-thumbnail {
    height: 400px;
    width: 470px;
}
.pull-right {
    float: right;
}
.nav-pills li {
    margin: 0 12px 12px 12px;
}
.active{
    background: #CDCDCD;
}
.full-img {
    display: flex;
    align-items: center;
    justify-content: center;
}